@model FitNightSnackMgr.ViewModels.AdminViewModel;
@{
    Layout = "~/Views/Shared/_Layout _admin.cshtml";
}
@{
    ViewData["Title"] = "密码修改";
}



<h1>密码修改</h1>

<hr />
<div class="row">
    <div class="col-lg-10">
        <form>

            <input type="hidden" asp-for="@Model.AdminId" />
            <div class="form-group">
                <label class="control-label">旧密码</label>
                <input id="old_password" class="form-control" placeholder="请输入旧密码" required type="password"/>
                <span id="valid_old_password" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label class="control-label">新密码</label>
                <input id="new_password" class="form-control" placeholder="请输入新密码" required type="password"/>
                <span id="valid_new_password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">确认新密码</label>
                <input id="new_password2" class="form-control" placeholder="请再次输入新密码" required type="password"/>
                <span id="valid_new_password2" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input id="btn" type="button" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success">回到列表</a>
</div>

<script>
    

    $("#old_password").blur(function () {
        if ($(this).val() == "") {
            $("#valid_old_password").text("请输入旧密码")
            return false;
        }
       

       


        $("#valid_old_password").text("")
                 
          
    });





    $("#new_password").blur(function () {
        if ($(this).val() == "") {
            $("#valid_new_password").text("请输入新密码")
            return false;
        }

        let reg = new RegExp(/^(?![^a-zA-Z]+$)(?!\D+$)/);
        if (!reg.test($(this).val())) {
            $("#valid_new_password").text("新密码过于简单")
            return false;
        }



        $("#valid_new_password").text("")


    });




    $("#new_password2").blur(function () {
        if ($(this).val() == "") {
            $("#valid_new_password2").text("请输入确认密码")
            return false;
        }

        if ($(this).val() != $("#new_password").val()) {
            $("#valid_new_password2").text("两次确认密码不一致")
            return false;
        }



        $("#valid_new_password2").text("")


    });





    $("#btn").click(function (e) {
        let userid =@Model.AdminId;
        let txt_old_pwd = $("#old_password").val();
        let txt_new_pwd = $('#new_password').val();
        let txt_new_pwd2 = $('#new_password2').val();
        e.preventDefault();

        if (txt_old_pwd == ""  ) {

            $("#valid_old_password").text("请输入旧密码")
           
            return false;

        }

        if (txt_new_pwd == "") {
            $("#valid_new_password").text("请输入新密码")
            return false;
        }

        if ( txt_new_pwd2 == "") {
            $("#valid_new_password2").text("请输入确认密码")
            return false;
        }

        $("#valid_old_password").text("")
        $("#valid_new_password").text("")
        $("#valid_new_password2").text("")


        $.post(

            "@Url.Action("UpdatePassWord","Admins")",
            {
                userid: userid,
                oldpassword: txt_old_pwd,
                newpassword: txt_new_pwd
            },
            function (data) {
                switch (data) {
                    case 301
                        : swal("账号修改异常","请联系管理员",
                        "error");
                        break;
                    case 302:
                        swal("用户账号异常","请联系管理员",
                            "error");
                        break;
                    case 303:
                        swal("旧密码错误","请重试",
                            "error");
                        break;
                    case 310:
                        swal({
                            title: "密码修改成功",
                            text: `请妥善保管！`,
                            type: "success",
                            confirmButtonColor: "rgb(134,204,235)",
                            confirmButtonText: "确定",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                            function (isConfirm) {
                                if (isConfirm) {

                                    window.location.href = `https://localhost:44320/admins/Login`
                                }
                            });
                        
                        break;

                }
            }


        )
    })


</script>


