

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdatePwd</title>
    <script src="~/client/Scripts/jquery-2.1.3.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/bootstrap-select/bootstrap.min.css">
    <link rel="stylesheet" href="~/bootstrap-select/bootstrap-select.css" id="theme-stylesheet">
    <link rel="stylesheet" href="~/sweetalert/sweetalert.css" />
    <script src="~/sweetalert/sweetalert-dev.js"></script>
</head>
<body>



    <div class="container">
        <main role="main" class="pb-3">
            <h4>密码修改</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                   

                        <div class="form-group">
                            <label class="control-label">卡号</label>
                            <input  class="form-control" id="card_num" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">密钥</label>
                            <input  class="form-control" id="card_secret" required/>
                        </div>
                        


                        <div class="form-group">
                            <input type="button" value="充值" class="btn btn-default"  id="btn_addmoney"/>
                        </div>
                  
                </div>
            </div>

            <div>
                <a asp-controller="Client" asp-action="Index" class="btn btn-success">回到列表</a>
            </div>
        </main>
    </div>

    
    <script>


        $("#btn_addmoney").click(function () {
        $.post("@Url.Action("AddClientUserMoney","Client")",
            {
                cardNum: $("#card_num").val(),
                cardSecret: $("#card_secret").val(),
            },
            function (data) {
                if (data["statusCode"] == 20000) {
                swal(data["message"], "你可以在本店任意消费",
                    "success");
                    $("#card_num").val("");
                    $("#card_secret").val("");
            } else {
                swal(data["message"], "请检查卡号密码是否正确",
                    "error");

            }


        }


    )

    });




    </script>




</body>
</html>
