@{
    Layout = null;
}

@model FitNightSnackMgr.Models.User;
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>使用模板 Register</title>
    <link href="~/client/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/client/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/client/Content/Site.css" rel="stylesheet" />
</head>
<body>



    <div class="container body-content">
        <div class="row">


            <h2>Register</h2>

            <div class="row">
                <div class="col-md-4">
                    <form method="post" asp-controller="Client" asp-action="Register">
                        <h4>Create a new account.</h4>
                        <hr>
                        <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                            <ul>
                                <li style="display:none"></li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="Input_Email">Account</label>
                            <input class="form-control" type="text" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength=11  asp-for="UserAccount" required>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.UserAccount" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="Input_Password">Password</label>
                            <input class="form-control"  type="password" data-val="true" required asp-for="Password">
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="Input_ConfirmPassword">Confirm password</label>
                            <input class="form-control"   type="password" data-val="true" required asp-for="Password">
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Register</button>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8EMZs23CoRdPo8eWNI6u3GupmXGomcBrA2tIuwXybjdOzzKNEg47XcM8LH9p4dieE12tynRhh_H5wsGZ1GGWfjLR7yIUXVzmhvdAvgkGq1YWi60I26C8yxA1V1Xl8eM-iSmfZkcM2lBbxEkNUscFvw4">
                    </form>
                </div>
            </div>


        </div>
    </div>




</body>
</html>