
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdatePwd</title>
    <script src="~/client/Scripts/jquery-2.1.3.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/bootstrap-select/bootstrap.min.css">
    <link rel="stylesheet" href="~/bootstrap-select/bootstrap-select.css" id="theme-stylesheet">



    <link rel="stylesheet" href="~/sweetalert/sweetalert.css" />
    <script src="~/sweetalert/sweetalert-dev.js"></script>
</head>
<body>



    <div class="container">
        <main role="main" class="pb-3">
            <h4>密码修改</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                   

                        <div class="form-group">
                            <label class="control-label">OldPassword</label>
                            <input id="old_pwd" class="form-control" type="password"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">NewPassword</label>
                            <input id="new_pwd" class="form-control" type="password"/>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">ConfirmPassword</label>
                            <input id="conf_pwd" class="form-control" type="password"/>
                        </div>


                        <div class="form-group">
                            <input type="button" value="修改" class="btn btn-default" id="btn_change_pwd"/>
                        </div>
                  
                </div>
            </div>

            <div>
                <a asp-controller="Client" asp-action="Index" class="btn btn-success">回到列表</a>
            </div>
        </main>
    </div>

    

<script>
    $("#btn_change_pwd").click(function () {
        var old_pwd = $("#old_pwd").val();
        var new_pwd = $("#new_pwd").val();
        var conf_pwd = $("#conf_pwd").val();


        if (new_pwd != conf_pwd) {
            swal("更新密码不一致", "请重新输入",
                "error");
            return false;
        }


        $.post("@Url.Action("UpdatePwd","Client")",
            {
                old_pwd: old_pwd,
                new_pwd: new_pwd,
                conf_pwd: conf_pwd
            },
            function (data) {
                if (data == 20000) {
                    
                    $("#old_pwd").val("")
                    $("#new_pwd").val("")
                    $("#conf_pwd").val("")

                    swal({
                        title: "密码更新成功",
                        text: "请妥善保管密码",
                        type: "success",
                        confirmButtonColor: "rgb(134,204,235)",
                        confirmButtonText: "确定",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {

                                window.location = "https://localhost:44320/Client/Login"
                            }
                        });





                   
                } else {

                    swal("旧密码有误", "请重新输入",
                        "error");
                }

            }


        )


    });


</script>



</body>
</html>
