<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - My ASP.NET Application</title>
    <script src="~/client/Scripts/jquery-2.1.3.js"></script>

   
    <link href="~/client/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/client/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/client/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Client" asp-action="Index">FIT深夜食堂</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Client" asp-action="Index">主页</a></li>
                    <li><a   asp-controller="Client" asp-action="About" >关于</a></li>
                    <li><a asp-controller="Client" asp-action="Contact" >联系我们</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i id="my_name">admin</i>  <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a id="admin_info" asp-controller="Client" asp-action="UserInfo">个人信息</a>
                            </li>
                            <li>
                                <a id="admin_password_change" asp-controller="Client" asp-action="UpdatePwd">密码修改</a>
                            </li>
                            <li>
                                <a id="admin_password_change" asp-controller="Client" asp-action="ShopCart">购物车</a>
                            </li>
                            <li>
                                <a id="admin_password_change" asp-controller="Client" asp-action="ShopHistory">历史订单</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1"  asp-controller="Client" asp-action="Logout">退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="well well-lg col-lg-3">


            <div class="list-group">
                <h4 class="list-group-item-heading">类别</h4>
                <a   asp-controller="Client"  asp-action="SnackShow" asp-route-id="1001" class="list-group-item ">零食</a>
                <a asp-controller="Client"  asp-action="SnackShow" asp-route-id="1002" class="list-group-item ">啤酒饮料</a>
                <a asp-controller="Client"  asp-action="SnackShow" asp-route-id="1003" class="list-group-item ">香烟</a>
                <a asp-controller="Client"  asp-action="SnackShow" asp-route-id="1004" class="list-group-item ">麻辣烫</a>
            </div>

        </div>
        <div class="col-lg-9">

            @RenderBody()






        </div>
        <hr>
        <footer>
            <p>© 2020 - My ASP.NET Application</p>
        </footer>
    </div>


    <script src="~/client/Scripts/bootstrap.js"></script>
    <script>
        $.post('@Url.Action("GetUserName","Client")',
            {},
            function (username) {
                $("#my_name").text(username);

            }
        )

    </script>


</body>
</html>